@charset "UTF-8";
:root {
  --color-primary: #00B500;
  --color-contrast: #00FF00;
  --color-strong-contrast: #005500;
  --color-black: #000000;
  --color-gray: #222222;
  --color-yellow: #FF9C07;
  --color-white: #ffffff;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 400px auto auto;
  grid-template-areas: "nav" "header" "main" "footer";
  height: 100vh;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.marginpadding0 {
  margin: 0px;
  padding: 0px;
}

.black_designed_background {
  background-image: url(../images/background/black_designed_background.png);
  background-size: cover;
  background-repeat: repeat;
}

.white_text {
  color: var(--color-white);
}

.green_text {
  color: var(--color-primary);
}

.black_background {
  background-color: var(--color-black);
}

.green_bordered {
  border: 1px solid var(--color-contrast);
}

.bottom_bordered {
  border-bottom: 3px solid var(--color-contrast);
}

.lg_bottom_bordered {
  border-bottom: 1px solid var(--color-contrast);
}

span {
  color: var(--color-primary);
}

#cart_products {
  gap: 20px;
}
#cart_products .product {
  background-image: url(../../images/background/white-designed.webp);
  background-size: cover;
  width: 80%;
  border: 3px solid var(--color-contrast);
  padding: 10px;
  font-weight: 700;
}
#cart_products .product h3 {
  color: black;
}
#cart_products .product p {
  color: black;
}
#cart_products .product button {
  width: 10%;
  background-color: red;
  border: 3px solid black;
}

.hidden {
  display: none !important;
}

nav a img {
  width: 60px;
}
nav .nav-cart {
  display: flex;
}
nav .nav-cart img {
  width: 40px; /* Ajusta el tamaño de la imagen del carrito según tu diseño */
  height: 40px;
}
nav .nav-cart #counter-cart {
  background-color: var(--color-primary); /* Color de fondo del círculo */
  color: #fff; /* Color del texto del contador */
  border-radius: 50%; /* Hace que el fondo sea un círculo */
  width: 20px; /* Ajusta el tamaño del círculo según tu diseño */
  height: 20px;
  text-align: center;
  font-size: 14px; /* Tamaño de fuente del contador */
  line-height: 20px; /* Centra verticalmente el texto en el círculo */
}
nav .navbar-collapse {
  flex-grow: 0.8;
}
nav .menu-desplegable {
  width: 500px;
  height: auto;
  left: -300px;
  z-index: 100;
}
nav .menu-desplegable button {
  background-color: var(--color-primary);
  color: var(--color-black);
}
nav .menu-desplegable button a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 10px;
}
header .header_div_text {
  width: 60%;
}
header .header_div_text h1 {
  font-size: 5vw;
}
header .header_div_text p {
  font-size: 3vw;
}
header img {
  width: 30%;
}

.home_store_tittle {
  padding: 40px 0;
}

.home_section_information div {
  height: 300px;
  width: 20%;
}

.home_section_brands {
  padding: 20px;
}
.home_section_brands img {
  width: 100px;
}

.home_section_store #home_section_filter {
  width: auto;
  height: auto;
}
.home_section_store #home_section_products {
  width: 90%;
}
.home_section_store #home_section_products .product_container {
  width: 30%;
  height: 150px;
  border: 3px solid var(--color-primary);
}
.home_section_store #home_section_products .product_container .price_button_container p {
  width: 50%;
}
.home_section_store #home_section_products .product_container .price_button_container button {
  background-color: var(--color-primary);
  width: 20%;
  border: 3px solid var(--color-primary);
}

/*# sourceMappingURL=styles.css.map */
