*{
    padding: 0px;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 400px auto auto;
    grid-template-areas:
        "nav"    
        "header"
        "main"
        "footer";
    height: 100vh;}
    nav {
        grid-area: nav;
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
.marginpadding0{
    margin: 0px;
    padding: 0px;
}
.black_designed_background{
    background-image: url(../images/background/black_designed_background.png);
    background-size: cover;
    background-repeat: repeat;
}
.white_text{
    color: var(--color-white);
}
.green_text{
    color: var(--color-primary);
}
.black_background{
    background-color: var(--color-black);
}
.green_bordered{
    border: 1px solid var(--color-contrast);
}
.bottom_bordered{
    border-bottom: 3px solid var(--color-contrast);
}
.lg_bottom_bordered{
    border-bottom: 1px solid var(--color-contrast);
}
span{
    color: var(--color-primary)
}
#cart_products{
    gap: 20px;
    .product{
        background-image: url(../../images/background/white-designed.webp);
        background-size: cover;
        width: 80%;
        border: 3px solid var(--color-contrast);
        padding: 10px;
        font-weight: 700;
        h3{
            color: black;
        }
        p{
            color: black;
        }
        button{
            width: 10%;
            background-color: red;
            border: 3px solid black;
        }
    }
}
.hidden{
    display: none!important;
}