.home_store_tittle{
    padding: 40px 0;
}
.home_section_information{
    div{
        width: 20%;
        padding: 10px;
        h3{
            
        }
    }
}
.home_section_brands{
    padding: 20px;
    img{
        width: 100px;
    }
}
.home_section_store{
    #home_section_filter{
    width: auto;
    height: auto;
    }
    #home_section_products{
        width: 90%;
        .product_container{
            width: 30%;
            height: 150px;
            border: 3px solid var(--color-primary);
            .price_button_container{
                p{
                    width: 50%;
                }
                button{
                    background-color: var(--color-primary);
                    width: 20%;
                    border: 3px solid var(--color-primary);
                }
            }
        }
    }
}
