.home_store_tittle{
    padding: 40px 0;
}
.home_section_information{
    div{
        width: 20%;
        padding: 10px;
        h3{
            
        }
    }
}
.home_section_brands{
    padding: 20px;
    img{
        width: 100px;
    }
}