nav{
    a{
        img{
            width: 60px;
        }
    }
}
header{
    padding: 10px;
    .header_div_text{
        width: 60%;
        h1{
            font-size: 5vw;
        }
        p{
            font-size: 3vw;
        }
    }
    img{
        width: 30%;
    }
}