nav{
    a{
        img{
            width: 60px;
        }
    }
    .nav-cart {
        display: flex;
        img {
            width: 40px; /* Ajusta el tamaño de la imagen del carrito según tu diseño */
            height: 40px;
        }
        #counter-cart {
            background-color: var(--color-primary); /* Color de fondo del círculo */
            color: #fff; /* Color del texto del contador */
            border-radius: 50%; /* Hace que el fondo sea un círculo */
            width: 20px; /* Ajusta el tamaño del círculo según tu diseño */
            height: 20px;
            text-align: center;
            font-size: 14px; /* Tamaño de fuente del contador */
            line-height: 20px; /* Centra verticalmente el texto en el círculo */
        }
    }
    .navbar-collapse{
        flex-grow: 0.8;
    }
    .menu-desplegable{
        width: 500px;
        height: auto;
        left: -300px;
        z-index: 100;
        button{
            a{
                text-decoration: none;
                color: inherit;
            }
            background-color: var(--color-primary);
            color: var(--color-black);
        }
    }
}
header{
    padding: 10px;
    .header_div_text{
        width: 60%;
        h1{
            font-size: 5vw;
        }
        p{
            font-size: 3vw;
        }
    }
    img{
        width: 30%;
    }
}