:root {
    --color-primary: #00B500;
    --color-contrast: #00FF00;
    --color-strong-contrast: #005500;
    --color-black: #000000;
    --color-gray: #222222;
    --color-yellow: #FF9C07;
    --color-white: #ffffff;
}

  